<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs">

    <body>
        <wicket:extend>
            <div id="loginFrame">
                <wicket:child>
                    The content of a unauthenticated class page.
                </wicket:child>
                
                <div id="bottom">
                        &copy; 2014 Břimba software&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;All rights reserved&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="" title="O aplikaci">O aplikaci</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="" title="Nápověda">Nápověda</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="" title="F.A.Q.">F.A.Q.</a>
                </div>
                
            </div>
        </wicket:extend>
    </body>
</html>